In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/CLIENTES_BRAVOS.CSV", sep=";", encoding='iso-8859-1')

In [6]:
print(df.shape)
df.head()

(188432, 27)

,CLIENTE_COD,NOME_CLIENTE,DATA_NASCIMENTO,SEXO,ESTADO_CIVIL,DESC_ESTADO_CIVIL,SITUACAO_CREDITO,CLIENTE_TIPO,CLIENTE_CATEGORIA,DES_CATEGORIA_CLIENTE,...,DTPRIMEIRAFATURA,DTULTIMAFATURA,LIMITE_CREDITO,CLIENTE_VIP,EMPRESA_ORIGEM,REVENDA_ORIGEM,GRUPO_CLIENTE,CADEIRANTE,CLIENTE_INATIVO,TIPO_PESSOA
0,1,TAPAJOS D.D.V.,NaN,,NaN,,Aprovado,N,6.0,06-REDE,...,2015/04/01 00:00:00.000000000,2016/09/30 00:00:00.000000000,10000000.0,N,1,1,NaN,NÃO,NÃO,J
1,70,SILVIO L.C.,1966/04/24 00:00:00.000000000,M,2.0,Casado com comunhão de bens,Aprovado,N,99.0,CONVERSÃO,...,NaN,NaN,0.0,,1,1,NaN,NÃO,NÃO,F
2,71,INEZ D.S.G.,1966/05/21 00:00:00.000000000,F,1.0,Solteiro,Aprovado,N,99.0,CONVERSÃO,...,NaN,NaN,0.0,,1,1,NaN,NÃO,NÃO,F
3,72,SERGIO A.F.,1964/09/09 00:00:00.000000000,M,2.0,Casado com comunhão de bens,Aprovado,N,99.0,CONVERSÃO,...,NaN,NaN,0.0,,1,1,NaN,NÃO,NÃO,F
4,73,RICARDO M.T.,1968/09/07 00:00:00.000000000,M,2.0,Casado com comunhão de bens,Aprovado,N,99.0,CONVERSÃO,...,NaN,NaN,0.0,,1,1,NaN,NÃO,NÃO,F

In [7]:
df.columns

Index(['CLIENTE_COD', 'NOME_CLIENTE', 'DATA_NASCIMENTO', 'SEXO',
       'ESTADO_CIVIL', 'DESC_ESTADO_CIVIL', 'SITUACAO_CREDITO', 'CLIENTE_TIPO',
       'CLIENTE_CATEGORIA', 'DES_CATEGORIA_CLIENTE', 'ENDERECO_BAIRRO',
       'ENDERECO_MUNICIPIO', 'ENDERECO_UF', 'CEP', 'CLIENTE_DTCADASTRO',
       'CLIENTE_DTULTIMOMOVIMENTO', 'DTULTIMAALTERACAO', 'DTPRIMEIRAFATURA',
       'DTULTIMAFATURA', 'LIMITE_CREDITO', 'CLIENTE_VIP', 'EMPRESA_ORIGEM',
       'REVENDA_ORIGEM', 'GRUPO_CLIENTE', 'CADEIRANTE', 'CLIENTE_INATIVO',
       'TIPO_PESSOA'],
      dtype='object')