In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from IPython.display import display
pd.options.display.max_columns = None

In [3]:
df = pd.read_csv("../data/CLIENTES_BRAVOS.CSV", sep=";", encoding='iso-8859-1')

In [4]:
print(df.shape)
df.head()

(188432, 27)

,CLIENTE_COD,NOME_CLIENTE,DATA_NASCIMENTO,SEXO,ESTADO_CIVIL,DESC_ESTADO_CIVIL,SITUACAO_CREDITO,CLIENTE_TIPO,CLIENTE_CATEGORIA,DES_CATEGORIA_CLIENTE,ENDERECO_BAIRRO,ENDERECO_MUNICIPIO,ENDERECO_UF,CEP,CLIENTE_DTCADASTRO,CLIENTE_DTULTIMOMOVIMENTO,DTULTIMAALTERACAO,DTPRIMEIRAFATURA,DTULTIMAFATURA,LIMITE_CREDITO,CLIENTE_VIP,EMPRESA_ORIGEM,REVENDA_ORIGEM,GRUPO_CLIENTE,CADEIRANTE,CLIENTE_INATIVO,TIPO_PESSOA
0,1,TAPAJOS D.D.V.,NaN,,NaN,,Aprovado,N,6.0,06-REDE,CENTRO ...,PALMAS ...,TO,77015008.0,2015/02/24 00:00:00.000000000,2017/06/10 00:00:00.000000000,2016/09/19 00:00:00.000000000,2015/04/01 00:00:00.000000000,2016/09/30 00:00:00.000000000,10000000.0,N,1,1,NaN,NÃO,NÃO,J
1,70,SILVIO L.C.,1966/04/24 00:00:00.000000000,M,2.0,Casado com comunhão de bens,Aprovado,N,99.0,CONVERSÃO,ST. AEROPORTO ...,PORTO NACIONAL ...,TO,77500000.0,NaN,NaN,NaN,NaN,NaN,0.0,,1,1,NaN,NÃO,NÃO,F
2,71,INEZ D.S.G.,1966/05/21 00:00:00.000000000,F,1.0,Solteiro,Aprovado,N,99.0,CONVERSÃO,AURENI I ...,PALMAS ...,TO,77000000.0,NaN,NaN,NaN,NaN,NaN,0.0,,1,1,NaN,NÃO,NÃO,F
3,72,SERGIO A.F.,1964/09/09 00:00:00.000000000,M,2.0,Casado com comunhão de bens,Aprovado,N,99.0,CONVERSÃO,CENTRO ...,PALMAS ...,TO,77000000.0,NaN,NaN,NaN,NaN,NaN,0.0,,1,1,NaN,NÃO,NÃO,F
4,73,RICARDO M.T.,1968/09/07 00:00:00.000000000,M,2.0,Casado com comunhão de bens,Aprovado,N,99.0,CONVERSÃO,CENTRO ...,PALMAS ...,TO,77000000.0,NaN,NaN,NaN,NaN,NaN,0.0,,1,1,NaN,NÃO,NÃO,F

In [5]:
df.columns

Index(['CLIENTE_COD', 'NOME_CLIENTE', 'DATA_NASCIMENTO', 'SEXO',
       'ESTADO_CIVIL', 'DESC_ESTADO_CIVIL', 'SITUACAO_CREDITO', 'CLIENTE_TIPO',
       'CLIENTE_CATEGORIA', 'DES_CATEGORIA_CLIENTE', 'ENDERECO_BAIRRO',
       'ENDERECO_MUNICIPIO', 'ENDERECO_UF', 'CEP', 'CLIENTE_DTCADASTRO',
       'CLIENTE_DTULTIMOMOVIMENTO', 'DTULTIMAALTERACAO', 'DTPRIMEIRAFATURA',
       'DTULTIMAFATURA', 'LIMITE_CREDITO', 'CLIENTE_VIP', 'EMPRESA_ORIGEM',
       'REVENDA_ORIGEM', 'GRUPO_CLIENTE', 'CADEIRANTE', 'CLIENTE_INATIVO',
       'TIPO_PESSOA'],
      dtype='object')

In [6]:
len(df[df['ENDERECO_UF'] == 'DF'])

1525

## Vendas

In [7]:
df_vendas = pd.read_csv("../data/VENDAS_VEICULOS_BRAVOS.CSV", sep=";", encoding='iso-8859-1')

In [8]:
df_vendas

,EMPRESA,REVENDA,NUMERO_NOTA_FISCAL,SERIE_NOTA_FISCAL,TIPO_TRANSACAO,DTA_ENTRADA_SAIDA,DTA_DOCUMENTO,CLIENTE,DEPARTAMENTO,USUARIO,REVENDA_ORIGEM,QUANTIDADE,VAL_FRETE,VAL_DESCONTO,VAL_SEGURO,VAL_IPI,VAL_PIS,VAL_COFINS,VAL_TOTAL_REAL_ITEM,VAL_TOTAL_NOTA_ITEM,VAL_ICMS_RETIDO,VAL_CUSTO_CONTABIL,VAL_ICMS,VENDEDOR,VAL_ISS_RETIDO,COD_SETOR_VENDA,VAL_BONUS,MODELO
0,1,1,88285,2,V07,2015/03/25 00:00:00.000,2015/03/25 00:00:00.000,52302,100,31.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-48800.00,-48800.00,0.0,-47713.79,0.0,110004,NaN,N,NaN,5U4FE4
1,1,1,88543,2,V09,2015/03/31 00:00:00.000,2015/03/31 00:00:00.000,1,100,53.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-37008.10,-37008.10,0.0,-37008.10,0.0,110011,NaN,N,NaN,6A53K4
2,1,1,89480,2,V09,2015/04/30 00:00:00.000,2015/04/30 00:00:00.000,1,100,53.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-37043.25,-37043.25,0.0,-37043.25,0.0,110011,NaN,N,NaN,5U3PN4
3,5,1,35857,2,V09,2018/09/18 00:00:00.000,2018/09/18 00:00:00.000,51804,100,433.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-41869.28,-41869.28,0.0,-41869.28,0.0,4000020,NaN,N,NaN,5U7TA4
4,1,1,90051,2,V06,2015/05/14 00:00:00.000,2015/05/14 00:00:00.000,1,100,53.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-127944.23,-127944.23,0.0,-127944.23,0.0,110011,NaN,N,NaN,2HBB3A
5,1,1,90708,2,U09,2015/05/31 00:00:00.000,2015/05/31 00:00:00.000,1,200,53.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-80000.00,-80000.00,0.0,-80000.00,0.0,110011,NaN,U,NaN,2HBB3A
6,5,1,19058,2,V09,2016/08/12 00:00:00.000,2016/08/12 00:00:00.000,89323,100,412.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-66506.63,-66506.63,0.0,-66506.63,0.0,1000013,NaN,N,NaN,5UD6S4
7,5,2,23832,1,V09,2018/09/28 00:00:00.000,2018/09/28 00:00:00.000,65148,100,694.0,2,-1,0,0.0,0.0,0.0,0.00,0.0,-52420.74,-52420.74,0.0,-52420.74,0.0,99,NaN,N,NaN,BZ12Q4
8,5,3,11405,1,V09,2018/08/20 00:00:00.000,2018/08/20 00:00:00.000,97538,100,595.0,3,-1,0,0.0,0.0,0.0,0.00,0.0,-80219.72,-80219.72,0.0,-80219.72,0.0,47,NaN,U,NaN,BZ24B3
9,5,1,36061,2,V09,2018/09/27 00:00:00.000,2018/09/27 00:00:00.000,51804,100,433.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-58857.35,-58857.35,0.0,-58857.35,0.0,4000020,NaN,N,3500.0,5UGTS2
10,5,3,12439,1,V09,2018/10/08 00:00:00.000,2018/10/08 00:00:00.000,97538,100,595.0,3,-1,0,0.0,0.0,0.0,0.00,0.0,-57508.57,-57508.57,0.0,-57508.57,0.0,47,NaN,N,NaN,6A6CP4
11,5,3,12581,1,V09,2018/10/16 00:00:00.000,2018/10/16 00:00:00.000,97538,100,595.0,3,-1,0,0.0,0.0,0.0,0.00,0.0,-41869.28,-41869.28,0.0,-41869.28,0.0,47,NaN,N,3250.0,5U7TA4
12,5,2,26186,1,V09,2018/12/19 00:00:00.000,2018/12/19 00:00:00.000,65148,100,694.0,2,-1,0,0.0,0.0,0.0,0.00,0.0,-41869.28,-41869.28,0.0,-41869.28,0.0,99,NaN,N,NaN,5U7TA4
13,5,3,11817,1,U07,2018/09/06 00:00:00.000,2018/09/06 00:00:00.000,158713,200,675.0,3,-1,0,0.0,0.0,0.0,-9.75,-45.0,-40000.00,-40000.00,0.0,-38500.00,-340.0,69,NaN,U,NaN,5UB6S4
14,5,2,1090,1,V09,2016/11/14 00:00:00.000,2016/11/14 00:00:00.000,65148,100,334.0,2,-1,0,0.0,0.0,0.0,0.00,0.0,-38612.28,-38612.28,0.0,-38612.28,0.0,30,NaN,N,NaN,6A52K4
15,5,1,21766,2,V09,2016/12/15 00:00:00.000,2016/12/15 00:00:00.000,1899,100,412.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-57795.83,-57795.83,0.0,-57795.83,0.0,1000013,NaN,N,NaN,5U6HE4
16,5,2,1908,1,V07,2016/12/09 00:00:00.000,2016/12/09 00:00:00.000,98006,100,332.0,2,-1,0,0.0,0.0,0.0,0.00,0.0,-44990.00,-44990.00,0.0,-46757.43,0.0,31,NaN,N,NaN,5U6TE4
17,5,3,16273,1,U07,2019/03/20 00:00:00.000,2019/03/20 00:00:00.000,130864,200,732.0,3,-1,0,0.0,0.0,0.0,-52.00,-240.0,-35000.00,-35000.00,0.0,-27000.00,-297.5,84,NaN,U,NaN,A262
18,5,1,24191,2,V09,2017/03/31 00:00:00.000,2017/03/31 00:00:00.000,65148,100,412.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-53275.89,-53275.89,0.0,-53275.89,0.0,1000013,NaN,N,NaN,5U6FE4
19,5,3,609,1,V09,2017/03/13 00:00:00.000,2017/03/13 00:00:00.000,97538,100,470.0,3,-1,0,0.0,0.0,0.0,0.00,0.0,-39559.68,-39559.68,0.0,-39559.68,0.0,10,NaN,N,NaN,5U5DK4
20,5,1,37406,2,V07,2018/11/30 00:00:00.000,2018/11/30 00:00:00.000,196256,100,631.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-72990.00,-72990.00,0.0,-67101.69,0.0,4000024,NaN,N,NaN,BZ13B3
21,5,1,23047,2,U07,2017/02/08 00:00:00.000,2017/02/08 00:00:00.000,99112,200,515.0,1,-1,0,0.0,0.0,0.0,-31.85,-147.0,-31900.00,-31900.00,0.0,-27000.00,-287.1,1000019,NaN,U,NaN,9BW1359
22,5,2,25747,1,V09,2018/11/30 00:00:00.000,2018/11/30 00:00:00.000,51804,100,433.0,2,-1,0,0.0,0.0,0.0,0.00,0.0,-54307.20,-54307.20,0.0,-54307.20,0.0,74,NaN,N,5350.0,6A63P4
23,5,3,1243,1,V07,2017/04/17 00:00:00.000,2017/04/17 00:00:00.000,101891,100,537.0,3,-1,0,0.0,0.0,0.0,0.00,0.0,-158000.00,-158000.00,0.0,-152121.21,0.0,22,NaN,N,NaN,S7BC3A
24,5,2,8106,1,V09,2017/06/22 00:00:00.000,2017/06/22 00:00:00.000,65148,100,334.0,2,-1,0,0.0,0.0,0.0,0.00,0.0,-52478.83,-52478.83,0.0,-52478.83,0.0,30,NaN,N,NaN,6A63P4
25,5,3,1662,1,V09,2017/05/12 00:00:00.000,2017/05/12 00:00:00.000,100004,100,470.0,3,-1,0,0.0,0.0,0.0,0.00,0.0,-41509.36,-41509.36,0.0,-41509.36,0.0,10,NaN,N,NaN,6A62K4
26,5,3,14604,1,V09,2019/01/10 00:00:00.000,2019/01/10 00:00:00.000,97538,100,470.0,3,-1,0,0.0,0.0,0.0,0.00,0.0,-73029.64,-73029.64,0.0,-73029.64,0.0,10,NaN,N,NaN,BZ23B3
27,5,3,1228,1,V09,2017/04/15 00:00:00.000,2017/04/15 00:00:00.000,101805,100,470.0,3,-1,0,0.0,0.0,0.0,0.00,0.0,-40038.96,-40038.96,0.0,-40038.96,0.0,10,NaN,N,NaN,5U5DK4
28,5,2,28993,1,V07,2019/04/01 00:00:00.000,2019/04/01 00:00:00.000,198537,100,587.0,2,-1,0,0.0,0.0,0.0,0.00,0.0,-49900.00,-49900.00,0.0,-43107.02,0.0,61,NaN,N,3200.0,5U7TA4
29,1,1,91788,2,V09,2015/06/30 00:00:00.000,2015/06/30 00:00:00.000,1,100,53.0,1,-1,0,0.0,0.0,0.0,0.00,0.0,-34609.49,-34609.49,0.0,-34609.49,0.0,110011,NaN,N,NaN,5U3BN4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7254,5,1,233131,37,VD,2018/01/16 00:00:00.000,2018/01/16 00:00:00.000,191206,-4,1000014.0,1,1,0,0.0,NaN,NaN,NaN,NaN,45356.03,45356.03,0.0,45356.03,NaN,1000014,NaN,VD,0.0,5UFNE4
7255,5,3,871670,33,VD,2019/01/25 00:00:00.000,2019/01/25 00:00:00.000,197753,-4,21.0,3,1,0,0.0,NaN,NaN,NaN,NaN,48701.23,48701.23,0.0,48701.23,NaN,21,NaN,VD,0.0,6A6CP4
7256,5,1,457127,4,VD,2017/07/21 00:00:00.000,2017/07/21 00:00:00.000,68452,-4,1000014.0,1,1,0,0.0,NaN,NaN,NaN,NaN,132116.26,132116.26,0.0,132116.26,NaN,1000014,NaN,VD,0.0,S7BB3A
7257,5,2,390145,37,VD,2019/04/04 00:00:00.000,2019/04/04 00:00:00.000,198771,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,65624.16,65624.16,0.0,61030.47,NaN,6,NaN,VD,0.0,BZ13B3
7258,5,2,391513,37,VD,2019/04/10 00:00:00.000,2019/04/10 00:00:00.000,198771,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,66563.76,66563.76,0.0,63901.21,NaN,6,NaN,VD,0.0,BZ13B3
7259,5,2,213434,48,VD,2019/03/30 00:00:00.000,2019/03/30 00:00:00.000,198772,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,38223.94,38223.94,0.0,35364.52,NaN,6,NaN,VD,0.0,5Z5KE4
7260,5,2,901333,33,VD,2019/04/05 00:00:00.000,2019/04/05 00:00:00.000,198790,-4,72.0,2,1,0,0.0,NaN,NaN,NaN,NaN,53418.90,53418.90,0.0,49679.58,NaN,72,NaN,VD,0.0,5UGTE4
7261,5,1,865973,33,VD,2019/01/07 00:00:00.000,2019/01/07 00:00:00.000,86889,-4,1000026.0,1,1,0,0.0,NaN,NaN,NaN,NaN,47345.96,47345.96,0.0,47345.96,NaN,1000026,NaN,VD,0.0,5UFTE4
7262,5,1,852465,33,VD,2018/11/30 00:00:00.000,2018/11/30 00:00:00.000,86890,-4,1000026.0,1,1,0,0.0,NaN,NaN,NaN,NaN,39025.26,39025.26,0.0,39025.26,NaN,1000026,NaN,VD,0.0,5UGTE4
7263,5,1,504122,4,VD,2018/10/29 00:00:00.000,2018/10/29 00:00:00.000,86910,-4,1000026.0,1,1,0,0.0,NaN,NaN,NaN,NaN,138252.08,138252.08,0.0,128574.44,NaN,1000026,NaN,VD,0.0,S7BB3A
7264,5,3,195473,37,VD,2017/08/30 00:00:00.000,2017/08/30 00:00:00.000,189803,-4,8.0,3,1,0,0.0,NaN,NaN,NaN,NaN,43112.00,43112.00,0.0,43112.00,NaN,8,NaN,VD,0.0,5UFNE4
7265,5,3,312862,37,VD,2018/08/27 00:00:00.000,2018/08/27 00:00:00.000,189803,-4,54.0,3,1,0,0.0,NaN,NaN,NaN,NaN,43720.63,43720.63,0.0,43720.63,NaN,54,NaN,VD,0.0,5UFNE4
7266,5,2,517424,4,VD,2019/02/28 00:00:00.000,2019/02/28 00:00:00.000,198395,-4,72.0,2,1,0,0.0,NaN,NaN,NaN,NaN,134880.08,134880.08,0.0,125438.48,NaN,72,NaN,VD,0.0,S7BB3A
7267,5,2,385821,37,VD,2019/03/22 00:00:00.000,2019/03/22 00:00:00.000,198396,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,46856.68,46856.68,0.0,46856.68,NaN,6,NaN,VD,0.0,5UFNE4
7268,5,2,893149,33,VD,2019/03/22 00:00:00.000,2019/03/22 00:00:00.000,198397,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,46856.68,46856.68,0.0,46856.68,NaN,6,NaN,VD,0.0,5UFNE4
7269,5,2,381868,37,VD,2019/03/12 00:00:00.000,2019/03/12 00:00:00.000,198398,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,46856.68,46856.68,0.0,46856.68,NaN,6,NaN,VD,0.0,5UFNE4
7270,5,2,385835,37,VD,2019/03/22 00:00:00.000,2019/03/22 00:00:00.000,198408,-4,72.0,2,1,0,0.0,NaN,NaN,NaN,NaN,55642.08,55642.08,0.0,51747.14,NaN,72,NaN,VD,0.0,5UFTE4
7271,5,3,471572,4,VD,2017/12/20 00:00:00.000,2017/12/20 00:00:00.000,170969,-4,21.0,3,1,0,0.0,NaN,NaN,NaN,NaN,130251.66,130251.66,0.0,130251.66,NaN,21,NaN,VD,0.0,S7BB3A
7272,5,2,880379,33,VD,2019/02/18 00:00:00.000,2019/02/18 00:00:00.000,198153,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,47758.54,47758.54,0.0,44415.45,NaN,6,NaN,VD,0.0,5U7TA4
7273,5,1,888744,33,VD,2019/03/12 00:00:00.000,2019/03/12 00:00:00.000,198171,-4,1000026.0,1,1,0,0.0,NaN,NaN,NaN,NaN,36581.68,36581.68,0.0,36581.68,NaN,1000026,NaN,VD,0.0,5UGTE4
7274,5,2,174788,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7275,5,2,174789,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7276,5,2,174792,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7277,5,2,174790,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7278,5,2,174791,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7279,1,1,33136,37,VD,2015/04/30 00:00:00.000,2015/04/30 00:00:00.000,1530,-4,110034.0,1,1,0,0.0,NaN,NaN,NaN,NaN,34508.58,34508.58,0.0,33300.78,NaN,110034,NaN,VD,0.0,5U3PN4
7280,1,1,374166,33,VD,2015/04/30 00:00:00.000,2015/04/30 00:00:00.000,1530,-4,110034.0,1,1,0,0.0,NaN,NaN,NaN,NaN,34508.58,34508.58,0.0,33300.78,NaN,110034,NaN,VD,0.0,5U3PN4
7281,1,1,33174,37,VD,2015/04/30 00:00:00.000,2015/04/30 00:00:00.000,1530,-4,110034.0,1,1,0,0.0,NaN,NaN,NaN,NaN,34508.58,34508.58,0.0,33300.78,NaN,110034,NaN,VD,0.0,5U3PN4
7282,5,3,302927,37,VD,2018/07/27 00:00:00.000,2018/07/27 00:00:00.000,194697,-4,48.0,3,1,0,0.0,NaN,NaN,NaN,NaN,53558.44,53558.44,0.0,53558.44,NaN,48,NaN,VD,0.0,5UDNE4
7283,5,1,786223,33,VD,2018/07/25 00:00:00.000,2018/07/25 00:00:00.000,194714,-4,1000014.0,1,1,0,0.0,NaN,NaN,NaN,NaN,50164.20,50164.20,0.0,50164.20,NaN,1000014,NaN,VD,0.0,5U7TE4

In [9]:
df_vendas['MODELO'].unique()

array(['5U4FE4', '6A53K4', '5U3PN4', '5U7TA4', '2HBB3A', '5UD6S4',
       'BZ12Q4', 'BZ24B3', '5UGTS2', '6A6CP4', '5UB6S4', '6A52K4',
       '5U6HE4', '5U6TE4', 'A262', '5U6FE4', '5U5DK4', 'BZ13B3',
       '9BW1359', '6A63P4', 'S7BC3A', '6A62K4', 'BZ23B3', '5U3BN4',
       '5UETE4', '5UBTE4', '5Z5FE4', '5U5EK4', 'BZ12U4', '5U5TE4',
       '5UALE4', '1634N6', '5Z5KE4', 'BC13A2', '5UDNE4', '5U5TK4',
       'BZ14B3', '5Z56K4', '5Z56E4', '5Z5XE4', '5U81E4', '5Z58S6',
       'S7BC7A', '5Z1HC4', 'FOCUS', '9BW7952', 'BZ22U4', 'NKO2856',
       'GE.A1', 'BU33LY', 'BZ22U3', '5Z55K4', 'NYD4762', 'FORD-022',
       '5UGTE4', '5U3DN4', '5UC1E4', '5W1LL4', '9BD1495', '5UDIE4',
       '5UFNE4', '131313', '9BF5991', 'NVO5413', 'NVT0718', '5UEIE4',
       'FORD-012', 'HYUNDAI', '9BF0679', '9BD7175', '5U5FE4', '6A64P4',
       '2HBC3A', '5U3FN4', '6A13K4', '5U3DE4', '9BW0381', '9BW5987',
       '5U44E4', '5Z31N4', '1623H3', '5U11C4', '5U14E4', '5U11E4',
       '9BW6006', '5Z4RE4', '5U6TK4', '6A53P4', '8AG2400', '3738605',
       '5U3FE4', '5U7TS2', '9BR0185', '6K2PC34', '9BD016', '124570',
       'SIENA', 'BZ12U3', '5U24E4', 'DLMLML16MS', 'PEUGEOT 208', '6A63K4',
       'ECOSPORT', 'OGJ0754', 'BGM8049', 'FIAT-650', 'C0227', '1633F6',
       '9BD2175', '6A63K6', 'LIFAN', 'CHEVROLET', 'BC13F3', '5Z5DS2',
       'FORD-018', '5Z54S2', 'FORD-015', '9BW1894', '5UFVE4', '5Z5EK4',
       '5U3PE4', '5UATE4', '5Z34E4', '5U41N4', '5U41E4', '5U4FN4',
       '5Z55E4', '6A5SP4', 'C12580', 'AU14JZ', '5UCTE4', '5U4PE4',
       '5UC6S4', 'C8401', '5G13JZ', 'AU19XY', '5W1ML4', '1VOLKSWAGEN',
       'CNWI8884', '5U5HE4', '1632F2', '6A5CP4', '9BD9798', 'VERSAL',
       '9BD9570', '9BD2491', '3GN6962', 'ZZE1421GEPNGG', 'FIAT-066',
       '3N11759', 'NGZ6744', 'NLQ7690', 'VOLKSWAGEN-039', '3778305',
       '5U7TE4', 'KEI9289', '9FZF10B', '5Z3RE4', '9BD9489', '5U5FK4',
       '70015001B', 'MMC-01', '9BD0005', 'FIAT-063', '5UDJE4', '3083634',
       '5Z56E6', '8AF3125', '9BG5737', '1637F6', 'BX53JZ', '6A5EK4',
       '9785', '9C6KE0U', 'VW-017', '5U3KE4', '9BW4858', 'KIA-100',
       '9BG6213', 'VW-122', '5Z41N4', '5Z44E4', '5U3XN4', '5Z54S6',
       '5U3KS4', '5UBJE4', '5U21C4', 'VOLKSWAGEN-025', '5Z72E4', '7DJ1ZE',
       '2HBC24', '5U4PN4', '5UE6S4', '5Z58S2', '6A6DP4', '3731B3',
       'OMM0496', 'BC14NY', '5U1KE4', 'LANCE', 'FORD-0025', '9BF7036',
       'WV14303', 'B16X02', 'KUN51L-NKMS', 'BC19TY', 'C3638', 'NLR6061',
       '9BW0348', '5X82F4', '0720', '5U91E4', '5U86E4', '999VW',
       '9BW0012', '6A5TK4', 'VOLKSWAGEM-031', 'JEEP', '9A43N4', 'OMQ0023',
       '9BD7401', '5Z5KE6', 'FIESTA', '3050B2', 'AU13JZ', 'GOL',
       'NWQ6529', '9BD5987', '8AG7517', '5Z72E6', 'ECOSPORT - ECO',
       'KMH9138', '5U6HE6', '9BG5545', '5U6FK4', '2HBA24', '5U3GN4',
       '5Z73E6', '5Z31R4', '5U21E4', '5U3SN4', '9B30D4', '5Z9PE4',
       '5Z5RE4', '7X11D1', '5U4UE4', '5U3RN4', '5UBHE4', '5N22V3',
       '3624P6', 'VW-023', 'FIAT-073', 'HILUX-CD', '9BW1827', '9BG7902',
       'BW23MY', 'ECOSPO', '9BW5885', 'NVR4307', '5W1LS4', 'A565',
       '5U1KE6', '0315', '5Z31E4', '9BW32200', 'NLE2917', '8AP7398',
       '1971', '174-00', 'FIAT-068', 'FIT', 'FIAT-061', 'CTF-4611',
       '9B3846', 'A677', 'SW4', '9BD2097', '6A53K6', '9BW1726',
       'FIAT-029', 'HSAP-01', '9BD0425', '9BG1832', '9BW5264', 'VW-055',
       '9BW9138', 'VW-092', '5W1JL4', '9BW9942', '9BW8029', '5Z14E4',
       '1634N3', '5UC6E4', '5Z5CK4', '3738551', 'S17689', 'H555890',
       'ONC9291', '9BG4247', 'GM-008', '5Z11C4', '5Z95E4', 'NWI7969',
       '307011', '9BW1141', 'NWE0844', 'NFY-7629', 'OMM5602', '9BF8645',
       'C3428', '3FA6172', '45', 'A46601', '5U4SN4', '5Z44E6', '5U3TN4',
       '5U3SE4', '5U34E4', 'NJX8265', '5Z11R4', '9B37D4', '9BW4729',
       'KMH2768', '5Z96E4', 'ZZE142L-GEPNGG', 'FIAT-033', '3082E2', '206',
       'KIA-01', '9A32N4', 'CIVIC', 'NWH0614', 'PUNTO', '9BG8090', 'S10',
       '2HBB34', '3051N2', '5Z56N4', '5U31E4', 'CHEVROL', 'VW-185 ',
       '1624N3', '3C21H6', 'GM-024', 'A26401', '9B05X6', 'HONDA-001',
       'NLT6954', '9ZZZ1387', 'NVO4110', 'KEU0826', '6A54P4', '93H9030',
       '9BW7543', '5X18E4', 'GM-250', '9BD2191', '5U3AN4', 'KES2304',
       '9BD5453', '2HONDA', '9BD1610', 'C2194', 'RENAULT-026', 'FIAT-049',
       '5U5FE6', 'GM-450', 'WV16490', 'NKN7590', '9A63N4', '5Z32E4',
       '5UDTE4', 'S7BA44', '214-00', 'NGI7739', 'TGN61L-NKPDKG',
       '8AJ6764', '9BF2008', 'GOL 1.0', '5Z41E4', '9B5X64', '9BD6422',
       '9BD6468', '2296', '987654-987654', 'KA', 'EVG5926', 'HONDA-004',
       'TUCSON', 'FIAT-083', 'C8791', 'COROLLA', 'NKV0590', 'FORDFIESTA',
       'HILUX', '2HBA13', '2HBA34', '3425', 'C0762', 'TR4', 'CORSA',
       'FIAT', '6A5CK4', '6A54K4', '9A13B4', 'GM080', '9BD2534',
       'OGS4189', '1625', 'DCMUD224J', '9BW1058', '5Z5DS6', '5U6FE6',
       '0407', '9BW2286', '8AG8664', '1FC0R15', '3094500', '9BW6223',
       '6A12K4', '5Z74E4', 'VOLKSWAGEN-006', '1', 'CROSS FOX',
       'HYUNDAI-010', '9BW4434', '9903', 'HBM0522', '9BW4347', '5X10A4',
       '9BW7304', '9A52N4', '5Z7LE4', '9CA6475', '9BW2318', 'C5655',
       '5U22E4', 'NISSAN ', '5UFTE4', '9A42N6', '9BF8837', '8AP6828',
       'PEUGEOT-250', 'BS1G', '3022B2', 'GZS8823', 'CHERRY', '5N20CY',
       'RENAULT-047', '2HBA33', 'RENAULT-021', 'NISSAN-250', '9BG4353',
       '5U3AE4', 'CITROEN C3', 'VW-002', 'TOYOTA-006', 'GM-085',
       'FORD-040', '1HAFEI', '1632H3', '5U21CA', '5Z63E4', 'BU33LY+BZ2',
       '8AG4183', '4850', '9BW4082', '9BD4959', 'NLN7891', '9BD7710',
       '9BG1921', 'TOYOTA', '9BG4553', '95P1476', '9BW4179', '9BG5865',
       '9BW9802', '5UAME4', 'A277', '9BW8194', '9BD0248', 'NFV1998',
       '5X10D4', '1624U3', '9BW0943', '6A5CK6', '9BW2959', '5Z32E6',
       '5U31N4', 'JMY0667', 'A241', 'CEL03', 'B9M9MBEXPK7E', 'OGN3510',
       '9BD2339', 'SPIN', 'FRONTIER', '999FORD', '000', 'PALIO', 'BX54LY',
       'BRAMONT', '9BW1062', 'HONDA-003', '2HBC3-A', '9A22N4', '7414',
       'PEUGEOT-011', 'TR0524', '9BW2129', 'KNA3319', 'RENAULT 1',
       'BC23B3', '9BW6075', '5W5NV4', '5Z55N4', '115', '9003', '1JM60D',
       'FIAT-062', 'C9315', '9BW2261', '9BD0776', 'FIAT1', 'VW-106',
       '5W1GV4', '5G14JX', '1632F6', 'VOLKSWAGEN-040', '5Z74E6', '5W1FL4',
       'GM/S10', '999RN', 'NFE-1398', 'MSV9084', '93X2948', '9BW0239',
       '5U3WE4', '9BW6048', 'PEUGEOT 408', 'GMASTRA', 'GOL 1.6',
       '9BG0418', 'C9616', '1KIA', '3749130', 'NFZ3220', 'C9661', '2020',
       '4002', '5U49E4', '5C14N3', '9BD1300', '238-00', '5Z12E4',
       '8AP172', 'NKP2824', '6411', 'NJY7490', '9BD7540', '9BD0458',
       'FORD-016', '9BD6877', '9BW0752', 'VW-052', 'VOLKS-101', '0917',
       '6A54K6', 'BU32LY', 'BF13B3', '9BD3909', 'N', '5Z11A4', 'NLK2305',
       '515608', 'RENAULT-150', '9B146', '6285', 'HCF7366', '1HYUNDAI',
       'NFY0300', '79MG', 'GM-080', '1FORD', '6A13K 4', '87032213',
       '9A42N4', '9BW8516', '9BG7717', 'N17X01', '8AG6222', 'NGU3560',
       '9BG5098', 'BB2R', '9BF1696', 'NWJ9016', '3959', '9BH2908',
       'NISSAN LIVINA', 'CMGD22', 'GM-021', 'FORD-0115', 'BF14N3',
       'KMH0753', 'BW24TT', 'NFM8195', '9BG0692', 'C8524', '9BF7017',
       '5Z4BK4', '0708', '9BFZF26P45836319', '9BG3596', '5U21C44', 'SIEN',
       'FIAT10', '5X1PM4', 'MITSUBISHI-08', '9BW3988', '5U3NN4', 'S7BA34',
       '2HAA44', '3584VQ', '5U4FE6', '2HBA44', 'S7AA44', 'S7BB3A',
       '5Z98S6', '5UGTA4', '308', 'BZ21U3', '3766039', '5Z95E6'],
      dtype=object)

In [10]:
cod = df_vendas['CLIENTE'][0]

## Carros

In [11]:
df_carros = pd.read_csv("../data/VEICULOS_BRAVOS.CSV", sep=";", encoding='iso-8859-1')

In [12]:
# Remove espaços do nome do modelo
df_carros['MODELO'] = df_carros['MODELO'].str.replace(' ', '')

In [13]:
df_vendas['MODELO'].value_counts()

5U5TK4       475
5U5DK4       418
5U7TA4       342
5U5EK4       281
5U6FE4       269
5UFNE4       216
5UDNE4       207
5U5TE4       189
5Z5KE4       187
BZ12U4       186
5UD6S4       181
5U3BN4       174
BZ12Q4       159
BZ22U4       146
BZ13B3       145
BZ23B3        99
6A63P4        94
BZ14B3        90
5U6TE4        84
5Z5XE4        83
5UFTE4        76
5U3PN4        72
5U4FE4        70
5UGTE4        66
S7BC7A        65
6A52K4        65
S7BB3A        63
2HBC3A        62
S7BC3A        61
6A53P4        57
            ...
FORD-012       1
FIAT-061       1
9BW2286        1
NLE2917        1
GM/S10         1
5Z5CK4         1
308            1
TR4            1
CHERRY         1
5Z1HC4         1
5W5NV4         1
9BW0012        1
9BW6223        1
5Z72E6         1
9A52N4         1
9BW7304        1
BGM8049        1
FIAT-063       1
9BW0943        1
999RN          1
CTF-4611       1
000            1
1HAFEI         1
CNWI8884       1
NFY0300        1
5X10D4         1
3083634        1
RENAULT 1      1
EVG5926        1
9BG1921        1
Name: MODELO, Length: 633, dtype: int64

In [14]:
df_carros[df_carros['MODELO'] == '5U5TK4']

,EMPRESA,MODELO,DES_MODELO,FAMILIA,DES_FAMILIA,MARCA
2601,1,5U5TK4,VW/NOVO GOL TL MCV,2,NOVO GOL,VW
5123,5,5U5TK4,NOVO GOL TL 1.0 MCV,2,NOVO GOL,VW

In [15]:
df_carros

,EMPRESA,MODELO,DES_MODELO,FAMILIA,DES_FAMILIA,MARCA
0,5,5Z5KE6,FOX CONNECT SB,11,FOX,VW
1,5,BZ22U4,VIRTUS MSI 1.6,107,VIRTUS,VW
2,5,SIENA1,SIENA ESSENCE 1.6,50,USADOS FIAT,FIAT
3,5,ASTRA1,ASTRA HB 4P ADVANTAGE,51,USADOS GM,GM
4,5,NISSAN,NISSAN KICKS SL CVT,63,USADOS NISSAN,NISS
5,5,NISSAN1,NISSAN FRONTIER SL 4X4,63,USADOS NISSAN,NISS
6,5,NISSAN3,FRONTIER SL 4X4,63,USADOS NISSAN,NISS
7,5,NISSAN4,NISSAN FRONTIER SL 4X4,63,USADOS NISSAN,NISS
8,5,6A6DP4,UP PEPPER,23,UP,VW
9,1,CITROEN-01,CITROEN C3 GLX 14 FLEX,62,USADOS CITROEN,CITR
10,1,CITROEN-02,CITROEN PICASSO II16GLXF,62,USADOS CITROEN,CITR
11,1,CITROEN-03,CITROEN C3 GLX 1.6 FLEX,57,USADOS VW,VW
12,1,CITROEN-04,CITROEN XSARA PICASSO GX,62,USADOS CITROEN,CITR
13,1,CITROEN-05,CITROEN/XSARAPICASSO EXS,62,USADOS CITROEN,CITR
14,1,FIAT-065,FIAT STRADA WORKING,50,USADOS FIAT,FIAT
15,1,FIAT-001,FIAT PALIO EL,50,USADOS FIAT,FIAT
16,1,FIAT-002,FIAT IDEA ADVENTURE FLEX,50,USADOS FIAT,FIAT
17,1,FIAT-003,FIAT IDEA ELX,50,USADOS FIAT,FIAT
18,1,FIAT-004,FIAT MAREA SX,50,USADOS FIAT,FIAT
19,1,FIAT-005,FIAT MAREA ELX,50,USADOS FIAT,FIAT
20,1,FIAT-006,FIAT MAREA HLX,50,USADOS FIAT,FIAT
21,1,FIAT-007,FIAT MAREA WEEKEND SX,50,USADOS FIAT,FIAT
22,1,FIAT-008,FIAT MAREA WEEKEND HLX,50,USADOS FIAT,FIAT
23,1,FIAT-009,FIAT MAREA WEEKEND TURBO,50,USADOS FIAT,FIAT
24,1,FIAT-010,FIAT MAREA TURBO,50,USADOS FIAT,FIAT
25,1,FIAT-011,FIAT PALIO ED,50,USADOS FIAT,FIAT
26,1,FIAT-012,FIAT PALIO ELX,50,USADOS FIAT,FIAT
27,1,FIAT-013,FIAT PALIO EDX,50,USADOS FIAT,FIAT
28,1,FIAT-014,FIAT PALIO EX,50,USADOS FIAT,FIAT
29,1,FIAT-015,FIAT PALIO FIRE FLEX,50,USADOS FIAT,FIAT
...,...,...,...,...,...,...
8921,5,80040008E,MOTOCICLETA HUNTER 125CC,99,CONVERSAO,VW
8922,5,80040008B,MOTOCICLETA HUNTER 125CC,99,CONVERSAO,VW
8923,5,BIZKS,MOTONETA HONDA BIZ 125 KS,99,CONVERSAO,VW
8924,5,80020008B,MAX SED 125 CC,99,CONVERSAO,VW
8925,5,80080006A,MOTONETA WEB 100CC,99,CONVERSAO,VW
8926,5,80020008A,MAX SED 125 CC,99,CONVERSAO,VW
8927,5,9MD34,HONDA XR250 TORNARDO,99,CONVERSAO,VW
8928,5,01,C-100 BIZ ES,99,CONVERSAO,VW
8929,5,80100004B,MOTONETA WEB EVO 100CC,99,CONVERSAO,VW
8930,5,XR,HONDA / XR 250 TORNADO,99,CONVERSAO,VW
8931,5,9CA05X9,GOL 1.0 PLUS,99,CONVERSAO,VW
8932,5,WAZZ8L,IMP/AUDI A3,99,CONVERSAO,VW
8933,5,9DC05X,VW/PARATI 1.8,99,CONVERSAO,VW
8934,5,601,VW GOLF,99,CONVERSAO,VW
8935,5,9SN19X,GM/CLASSIC SPIRIT,99,CONVERSAO,VW
8936,5,9TT48B,GM/ASTRA HATCH,99,CONVERSAO,VW
8937,5,9JG19H,GM/ VECTRA MILENIUM,99,CONVERSAO,VW
8938,5,VFACD,IMP/ PEUGEOT 106 SOLEIL,99,CONVERSAO,VW
8939,5,VF56ML,IMP/ RENAULT LAGUNA 2.0S,99,CONVERSAO,VW
8940,5,9XF68X04C,GM/CORSA HATH,99,CONVERSAO,VW
8941,5,9CA15X,VW/GOL 16.V,99,CONVERSAO,VW
8942,5,93B06,RENALT / CLIO EXP,99,CONVERSAO,VW
8943,5,1H1GL21,GOLF,99,CONVERSAO,VW
8944,5,3275082,VERSALLES,99,CONVERSAO,VW
8945,5,3275101,SANTANA,99,CONVERSAO,VW
8946,5,325021,SANATANA GASOLINA,99,CONVERSAO,VW
8947,5,9BSZG,FORD KA GL,99,CONVERSAO,VW
8948,5,9BD822,UNO MILLE EX,99,CONVERSAO,VW
8949,5,3FA04,FORD FIESTA STREET,99,CONVERSAO,VW
8950,5,BW24TT,TIGUAN ALLSPACE RL,21,TIGUAN,VW

## Análise de sazonalidade de vendas

In [45]:
df_vendas

,EMPRESA,REVENDA,NUMERO_NOTA_FISCAL,SERIE_NOTA_FISCAL,TIPO_TRANSACAO,DTA_ENTRADA_SAIDA,DTA_DOCUMENTO,CLIENTE,DEPARTAMENTO,USUARIO,REVENDA_ORIGEM,QUANTIDADE,VAL_FRETE,VAL_DESCONTO,VAL_SEGURO,VAL_IPI,VAL_PIS,VAL_COFINS,VAL_TOTAL_REAL_ITEM,VAL_TOTAL_NOTA_ITEM,VAL_ICMS_RETIDO,VAL_CUSTO_CONTABIL,VAL_ICMS,VENDEDOR,VAL_ISS_RETIDO,COD_SETOR_VENDA,VAL_BONUS,MODELO
22,5,2,25747,1,V09,2018/11/30 00:00:00.000,2018/11/30 00:00:00.000,51804,100,433.0,2,-1,0,0.0,0.0,0.0,0.0,0.0,-54307.20,-54307.20,0.0,-54307.20,0.00,74,NaN,N,5350.0,6A63P4
37,5,3,725,1,V09,2017/03/17 00:00:00.000,2017/03/17 00:00:00.000,100828,100,470.0,3,-1,0,0.0,0.0,0.0,0.0,0.0,-44172.87,-44172.87,0.0,-44172.87,0.00,10,NaN,N,NaN,5U5EK4
39,5,2,4698,1,V09,2017/03/13 00:00:00.000,2017/03/13 00:00:00.000,65148,100,334.0,2,-1,0,0.0,0.0,0.0,0.0,0.0,-43130.33,-43130.33,0.0,-43130.33,0.00,30,NaN,N,NaN,5U5TE4
43,5,3,697,1,V09,2017/03/17 00:00:00.000,2017/03/17 00:00:00.000,97538,100,470.0,3,-1,0,0.0,0.0,0.0,0.0,0.0,-44172.87,-44172.87,0.0,-44172.87,0.00,10,NaN,N,NaN,5U5EK4
47,5,3,1843,1,V09,2017/05/23 00:00:00.000,2017/05/23 00:00:00.000,102536,100,470.0,3,-1,0,0.0,0.0,0.0,0.0,0.0,-50396.99,-50396.99,0.0,-50396.99,0.00,10,NaN,N,NaN,6A63P4
61,5,3,3516,1,V09,2017/08/14 00:00:00.000,2017/08/14 00:00:00.000,187613,100,470.0,3,-1,0,0.0,0.0,0.0,0.0,0.0,-46635.69,-46635.69,0.0,-46635.69,0.00,10,NaN,N,NaN,5Z56K4
63,5,3,4639,1,V09,2017/10/09 00:00:00.000,2017/10/09 00:00:00.000,99024,100,470.0,3,-1,0,0.0,0.0,0.0,0.0,0.0,-45421.78,-45421.78,0.0,-45421.78,0.00,53,NaN,N,NaN,5U5EK4
97,5,3,16155,1,U21,2019/03/15 00:00:00.000,2019/03/15 00:00:00.000,198328,200,732.0,3,1,0,0.0,0.0,0.0,0.0,0.0,41000.00,41000.00,0.0,42000.00,246.00,84,NaN,U,NaN,FOCUS
98,5,3,8089,1,V21,2018/03/29 00:00:00.000,2018/03/29 00:00:00.000,128268,100,510.0,3,1,0,0.0,0.0,0.0,0.0,0.0,76800.00,76800.00,0.0,71772.02,0.00,21,NaN,N,NaN,BZ14B3
99,5,3,967,1,V21,2017/03/31 00:00:00.000,2017/03/31 00:00:00.000,99200,500,537.0,3,1,0,0.0,0.0,0.0,0.0,0.0,37500.00,37500.00,0.0,38798.41,0.00,22,NaN,N,NaN,5U5DK4
100,5,3,692,1,V21,2017/03/17 00:00:00.000,2017/03/17 00:00:00.000,100858,100,505.0,3,1,0,0.0,0.0,0.0,0.0,0.0,56000.00,56000.00,0.0,53760.76,0.00,1,NaN,N,NaN,5U6FE4
105,5,3,12994,1,V21,2018/10/31 00:00:00.000,2018/10/31 00:00:00.000,195988,100,505.0,3,1,0,0.0,0.0,0.0,0.0,0.0,42000.00,42000.00,0.0,43283.80,0.00,1,NaN,N,3250.0,5U7TA4
106,5,3,15006,1,V21,2019/01/28 00:00:00.000,2019/01/28 00:00:00.000,197733,100,728.0,3,1,0,0.0,0.0,0.0,0.0,0.0,75000.00,75000.00,0.0,71012.54,0.00,82,NaN,N,NaN,BZ13B3
109,5,3,13696,1,V21,2018/11/30 00:00:00.000,2018/11/30 00:00:00.000,196814,100,510.0,3,1,0,0.0,0.0,0.0,0.0,0.0,46500.00,46500.00,0.0,47936.94,0.00,21,NaN,N,NaN,5U7TA4
117,5,3,16252,1,U21,2019/03/20 00:00:00.000,2019/03/20 00:00:00.000,198389,200,526.0,3,1,0,0.0,0.0,0.0,0.0,0.0,65000.00,65000.00,0.0,65000.00,552.50,13,NaN,U,NaN,GE.A1
118,5,3,13699,1,V21,2018/11/30 00:00:00.000,2018/11/30 00:00:00.000,136290,100,510.0,3,1,0,0.0,0.0,0.0,0.0,0.0,77000.00,77000.00,0.0,73962.22,0.00,21,NaN,N,NaN,BZ23B3
122,5,3,13631,1,V21,2018/11/28 00:00:00.000,2018/11/28 00:00:00.000,157987,100,505.0,3,1,0,0.0,0.0,0.0,0.0,0.0,74000.00,74000.00,0.0,68065.59,0.00,1,NaN,N,NaN,BZ13B3
124,5,3,13708,1,V21,2018/11/30 00:00:00.000,2018/11/30 00:00:00.000,196828,100,661.0,3,1,0,0.0,0.0,0.0,0.0,0.0,62400.00,62400.00,0.0,60272.80,0.00,65,NaN,N,NaN,BZ22U4
126,5,3,14143,1,V21,2018/12/19 00:00:00.000,2018/12/19 00:00:00.000,197097,100,585.0,3,1,0,0.0,0.0,0.0,0.0,0.0,185000.00,185000.00,0.0,176388.59,0.00,44,NaN,N,NaN,S7BC7A
127,5,3,14142,1,V21,2018/12/19 00:00:00.000,2018/12/19 00:00:00.000,166498,100,585.0,3,1,0,0.0,0.0,0.0,0.0,0.0,66300.00,66300.00,0.0,64923.25,0.00,44,NaN,N,NaN,BZ22U3
128,5,3,12886,1,V21,2018/10/25 00:00:00.000,2018/10/25 00:00:00.000,167874,100,585.0,3,1,0,0.0,0.0,0.0,0.0,0.0,41990.00,41990.00,0.0,41869.28,0.00,44,NaN,N,3250.0,5U7TA4
133,5,3,11439,1,V21,2018/08/20 00:00:00.000,2018/08/20 00:00:00.000,194871,100,510.0,3,1,0,0.0,0.0,0.0,0.0,0.0,185000.00,185000.00,0.0,174559.42,0.00,21,NaN,N,NaN,S7BC7A
135,5,3,11723,1,V21,2018/08/31 00:00:00.000,2018/08/31 00:00:00.000,138974,100,505.0,3,1,0,0.0,0.0,0.0,0.0,0.0,79000.00,79000.00,0.0,74104.91,0.00,1,NaN,N,NaN,BZ14B3
136,5,3,11713,1,U21,2018/08/31 00:00:00.000,2018/08/31 00:00:00.000,195019,200,508.0,3,1,0,0.0,0.0,0.0,6.5,30.0,25000.00,25000.00,0.0,24000.00,212.50,29,NaN,U,NaN,NYD4762
142,5,3,6024,1,U21,2017/12/20 00:00:00.000,2017/12/20 00:00:00.000,191763,200,547.0,3,1,0,0.0,0.0,0.0,0.0,0.0,17500.00,17500.00,0.0,18000.00,148.75,27,NaN,U,NaN,FORD-022
148,5,3,6395,1,V21,2018/01/09 00:00:00.000,2018/01/09 00:00:00.000,161694,100,470.0,3,1,0,0.0,0.0,0.0,0.0,0.0,64573.14,64573.14,0.0,64573.14,0.00,10,NaN,N,NaN,BZ13B3
152,5,3,8805,1,V21,2018/04/30 00:00:00.000,2018/04/30 00:00:00.000,193545,100,585.0,3,1,0,0.0,0.0,0.0,0.0,0.0,63000.00,63000.00,0.0,58313.93,0.00,44,NaN,N,NaN,BZ22U4
157,5,3,8831,1,V21,2018/04/30 00:00:00.000,2018/04/30 00:00:00.000,161017,100,510.0,3,1,0,0.0,0.0,0.0,0.0,0.0,64000.00,64000.00,0.0,57408.29,0.00,21,NaN,N,NaN,BZ22U4
158,5,3,11051,1,V21,2018/08/07 00:00:00.000,2018/08/07 00:00:00.000,194726,100,537.0,3,1,0,0.0,0.0,0.0,0.0,0.0,56000.00,56000.00,0.0,52420.74,0.00,22,NaN,N,NaN,BZ12Q4
159,5,3,7007,1,V21,2018/02/06 00:00:00.000,2018/02/06 00:00:00.000,192382,100,505.0,3,1,0,0.0,0.0,0.0,0.0,0.0,65500.00,65500.00,0.0,61350.59,0.00,1,NaN,N,NaN,BZ13B3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7254,5,1,233131,37,VD,2018/01/16 00:00:00.000,2018/01/16 00:00:00.000,191206,-4,1000014.0,1,1,0,0.0,NaN,NaN,NaN,NaN,45356.03,45356.03,0.0,45356.03,NaN,1000014,NaN,VD,0.0,5UFNE4
7255,5,3,871670,33,VD,2019/01/25 00:00:00.000,2019/01/25 00:00:00.000,197753,-4,21.0,3,1,0,0.0,NaN,NaN,NaN,NaN,48701.23,48701.23,0.0,48701.23,NaN,21,NaN,VD,0.0,6A6CP4
7256,5,1,457127,4,VD,2017/07/21 00:00:00.000,2017/07/21 00:00:00.000,68452,-4,1000014.0,1,1,0,0.0,NaN,NaN,NaN,NaN,132116.26,132116.26,0.0,132116.26,NaN,1000014,NaN,VD,0.0,S7BB3A
7257,5,2,390145,37,VD,2019/04/04 00:00:00.000,2019/04/04 00:00:00.000,198771,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,65624.16,65624.16,0.0,61030.47,NaN,6,NaN,VD,0.0,BZ13B3
7258,5,2,391513,37,VD,2019/04/10 00:00:00.000,2019/04/10 00:00:00.000,198771,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,66563.76,66563.76,0.0,63901.21,NaN,6,NaN,VD,0.0,BZ13B3
7259,5,2,213434,48,VD,2019/03/30 00:00:00.000,2019/03/30 00:00:00.000,198772,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,38223.94,38223.94,0.0,35364.52,NaN,6,NaN,VD,0.0,5Z5KE4
7260,5,2,901333,33,VD,2019/04/05 00:00:00.000,2019/04/05 00:00:00.000,198790,-4,72.0,2,1,0,0.0,NaN,NaN,NaN,NaN,53418.90,53418.90,0.0,49679.58,NaN,72,NaN,VD,0.0,5UGTE4
7261,5,1,865973,33,VD,2019/01/07 00:00:00.000,2019/01/07 00:00:00.000,86889,-4,1000026.0,1,1,0,0.0,NaN,NaN,NaN,NaN,47345.96,47345.96,0.0,47345.96,NaN,1000026,NaN,VD,0.0,5UFTE4
7262,5,1,852465,33,VD,2018/11/30 00:00:00.000,2018/11/30 00:00:00.000,86890,-4,1000026.0,1,1,0,0.0,NaN,NaN,NaN,NaN,39025.26,39025.26,0.0,39025.26,NaN,1000026,NaN,VD,0.0,5UGTE4
7263,5,1,504122,4,VD,2018/10/29 00:00:00.000,2018/10/29 00:00:00.000,86910,-4,1000026.0,1,1,0,0.0,NaN,NaN,NaN,NaN,138252.08,138252.08,0.0,128574.44,NaN,1000026,NaN,VD,0.0,S7BB3A
7264,5,3,195473,37,VD,2017/08/30 00:00:00.000,2017/08/30 00:00:00.000,189803,-4,8.0,3,1,0,0.0,NaN,NaN,NaN,NaN,43112.00,43112.00,0.0,43112.00,NaN,8,NaN,VD,0.0,5UFNE4
7265,5,3,312862,37,VD,2018/08/27 00:00:00.000,2018/08/27 00:00:00.000,189803,-4,54.0,3,1,0,0.0,NaN,NaN,NaN,NaN,43720.63,43720.63,0.0,43720.63,NaN,54,NaN,VD,0.0,5UFNE4
7266,5,2,517424,4,VD,2019/02/28 00:00:00.000,2019/02/28 00:00:00.000,198395,-4,72.0,2,1,0,0.0,NaN,NaN,NaN,NaN,134880.08,134880.08,0.0,125438.48,NaN,72,NaN,VD,0.0,S7BB3A
7267,5,2,385821,37,VD,2019/03/22 00:00:00.000,2019/03/22 00:00:00.000,198396,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,46856.68,46856.68,0.0,46856.68,NaN,6,NaN,VD,0.0,5UFNE4
7268,5,2,893149,33,VD,2019/03/22 00:00:00.000,2019/03/22 00:00:00.000,198397,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,46856.68,46856.68,0.0,46856.68,NaN,6,NaN,VD,0.0,5UFNE4
7269,5,2,381868,37,VD,2019/03/12 00:00:00.000,2019/03/12 00:00:00.000,198398,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,46856.68,46856.68,0.0,46856.68,NaN,6,NaN,VD,0.0,5UFNE4
7270,5,2,385835,37,VD,2019/03/22 00:00:00.000,2019/03/22 00:00:00.000,198408,-4,72.0,2,1,0,0.0,NaN,NaN,NaN,NaN,55642.08,55642.08,0.0,51747.14,NaN,72,NaN,VD,0.0,5UFTE4
7271,5,3,471572,4,VD,2017/12/20 00:00:00.000,2017/12/20 00:00:00.000,170969,-4,21.0,3,1,0,0.0,NaN,NaN,NaN,NaN,130251.66,130251.66,0.0,130251.66,NaN,21,NaN,VD,0.0,S7BB3A
7272,5,2,880379,33,VD,2019/02/18 00:00:00.000,2019/02/18 00:00:00.000,198153,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,47758.54,47758.54,0.0,44415.45,NaN,6,NaN,VD,0.0,5U7TA4
7273,5,1,888744,33,VD,2019/03/12 00:00:00.000,2019/03/12 00:00:00.000,198171,-4,1000026.0,1,1,0,0.0,NaN,NaN,NaN,NaN,36581.68,36581.68,0.0,36581.68,NaN,1000026,NaN,VD,0.0,5UGTE4
7274,5,2,174788,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7275,5,2,174789,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7276,5,2,174792,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7277,5,2,174790,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7278,5,2,174791,37,VD,2017/06/12 00:00:00.000,2017/06/12 00:00:00.000,1530,-4,6.0,2,1,0,0.0,NaN,NaN,NaN,NaN,40417.51,40417.51,0.0,40417.51,NaN,6,NaN,VD,0.0,5UFNE4
7279,1,1,33136,37,VD,2015/04/30 00:00:00.000,2015/04/30 00:00:00.000,1530,-4,110034.0,1,1,0,0.0,NaN,NaN,NaN,NaN,34508.58,34508.58,0.0,33300.78,NaN,110034,NaN,VD,0.0,5U3PN4
7280,1,1,374166,33,VD,2015/04/30 00:00:00.000,2015/04/30 00:00:00.000,1530,-4,110034.0,1,1,0,0.0,NaN,NaN,NaN,NaN,34508.58,34508.58,0.0,33300.78,NaN,110034,NaN,VD,0.0,5U3PN4
7281,1,1,33174,37,VD,2015/04/30 00:00:00.000,2015/04/30 00:00:00.000,1530,-4,110034.0,1,1,0,0.0,NaN,NaN,NaN,NaN,34508.58,34508.58,0.0,33300.78,NaN,110034,NaN,VD,0.0,5U3PN4
7282,5,3,302927,37,VD,2018/07/27 00:00:00.000,2018/07/27 00:00:00.000,194697,-4,48.0,3,1,0,0.0,NaN,NaN,NaN,NaN,53558.44,53558.44,0.0,53558.44,NaN,48,NaN,VD,0.0,5UDNE4
7283,5,1,786223,33,VD,2018/07/25 00:00:00.000,2018/07/25 00:00:00.000,194714,-4,1000014.0,1,1,0,0.0,NaN,NaN,NaN,NaN,50164.20,50164.20,0.0,50164.20,NaN,1000014,NaN,VD,0.0,5U7TE4

### Agrupa por data de vendas

In [47]:
gp_by_date = df_vendas.groupby('DTA_ENTRADA_SAIDA')

In [55]:
coun = gp_by_date.size()

In [142]:
count_sales = pd.DataFrame(coun)

In [143]:
count_sales.reset_index(inplace=True)

In [144]:
count_sales

            DTA_ENTRADA_SAIDA   0
0     0018/02/05 00:00:00.000   1
1     2015/03/02 00:00:00.000   5
2     2015/03/03 00:00:00.000   5
3     2015/03/05 00:00:00.000   1
4     2015/03/06 00:00:00.000   3
5     2015/03/07 00:00:00.000   1
6     2015/03/09 00:00:00.000   3
7     2015/03/10 00:00:00.000   6
8     2015/03/11 00:00:00.000   3
9     2015/03/13 00:00:00.000   7
10    2015/03/16 00:00:00.000   4
11    2015/03/17 00:00:00.000   5
12    2015/03/18 00:00:00.000   3
13    2015/03/20 00:00:00.000   8
14    2015/03/23 00:00:00.000   1
15    2015/03/24 00:00:00.000   8
16    2015/03/25 00:00:00.000  22
17    2015/03/26 00:00:00.000   2
18    2015/03/27 00:00:00.000   5
19    2015/03/30 00:00:00.000   3
20    2015/03/31 00:00:00.000  12
21    2015/04/01 00:00:00.000   5
22    2015/04/02 00:00:00.000   2
23    2015/04/07 00:00:00.000   3
24    2015/04/08 00:00:00.000   4
25    2015/04/10 00:00:00.000   4
26    2015/04/11 00:00:00.000   1
27    2015/04/13 00:00:00.000   2
28    2015/04/14 00:00:00.000   1
29    2015/04/15 00:00:00.000   5
...                       ...  ..
1033  2019/03/25 00:00:00.000   9
1034  2019/03/26 00:00:00.000  10
1035  2019/03/27 00:00:00.000  11
1036  2019/03/28 00:00:00.000   9
1037  2019/03/29 00:00:00.000  20
1038  2019/03/30 00:00:00.000  17
1039  2019/04/01 00:00:00.000   8
1040  2019/04/02 00:00:00.000   3
1041  2019/04/03 00:00:00.000   9
1042  2019/04/04 00:00:00.000   7
1043  2019/04/05 00:00:00.000   6
1044  2019/04/08 00:00:00.000  11
1045  2019/04/09 00:00:00.000   2
1046  2019/04/10 00:00:00.000   4
1047  2019/04/11 00:00:00.000   5
1048  2019/04/12 00:00:00.000   7
1049  2019/04/15 00:00:00.000   7
1050  2019/04/16 00:00:00.000   6
1051  2019/04/17 00:00:00.000  13
1052  2019/04/18 00:00:00.000  21
1053  2019/04/20 00:00:00.000   3
1054  2019/04/22 00:00:00.000   5
1055  2019/04/23 00:00:00.000   7
1056  2019/04/24 00:00:00.000   3
1057  2019/04/25 00:00:00.000   7
1058  2019/04/26 00:00:00.000  10
1059  2019/12/07 00:00:00.000   1
1060  2019/12/20 00:00:00.000   1
1061  2201/11/16 00:00:00.000   1
1062  2501/02/16 00:00:00.000   1

[1063 rows x 2 columns]

### Agrupa por data de venda e modelo

In [113]:
gp_modelo_date = df_vendas.groupby(['DTA_ENTRADA_SAIDA', 'MODELO'])

In [114]:
modelo_date_s = gp_modelo_date.size()

In [115]:
df_modelo_date = pd.DataFrame(modelo_date_s)

In [116]:
df_modelo_date.reset_index(inplace=True)

In [90]:
import datetime

#### Dados zuados das datas q eu arrumei na mão

In [117]:
df_modelo_date['DTA_ENTRADA_SAIDA'] = df_modelo_date['DTA_ENTRADA_SAIDA'].str.replace('0018', '2018')

In [118]:
df_modelo_date['DTA_ENTRADA_SAIDA'] = df_modelo_date['DTA_ENTRADA_SAIDA'].str.replace('2501', '2015')

In [125]:
df_modelo_date['DTA_ENTRADA_SAIDA'] = pd.to_datetime(df_modelo_date['DTA_ENTRADA_SAIDA'])

In [126]:
df_modelo_date.dtypes

DTA_ENTRADA_SAIDA    datetime64[ns]
MODELO                       object
0                             int64
dtype: object

In [151]:
count_sales['DTA_ENTRADA_SAIDA'] = count_sales['DTA_ENTRADA_SAIDA'].str.replace('0018', '2018')

In [152]:
count_sales['DTA_ENTRADA_SAIDA'] = count_sales['DTA_ENTRADA_SAIDA'].str.replace('2501', '2015')

In [153]:
count_sales['DTA_ENTRADA_SAIDA'] = pd.to_datetime(df_modelo_date['DTA_ENTRADA_SAIDA'])

### Gera df com range de datas

In [139]:
df_dates = pd.DataFrame(data = {'date': pd.date_range(start='1/1/2015', end='12/12/2019')})

In [166]:
df_fors = pd.merge(df_dates, count_sales, left_on='date', right_on='DTA_ENTRADA_SAIDA', )

/home/matheus/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [164]:
df_fors

           date DTA_ENTRADA_SAIDA   0
0    2015-03-02        2015-03-02   5
1    2015-03-02        2015-03-02   5
2    2015-03-02        2015-03-02   1
3    2015-03-02        2015-03-02   3
4    2015-03-02        2015-03-02   1
5    2015-03-03        2015-03-03   3
6    2015-03-03        2015-03-03   6
7    2015-03-03        2015-03-03   3
8    2015-03-05        2015-03-05   7
9    2015-03-06        2015-03-06   4
10   2015-03-06        2015-03-06   5
11   2015-03-07        2015-03-07   3
12   2015-03-09        2015-03-09   8
13   2015-03-09        2015-03-09   1
14   2015-03-09        2015-03-09   8
15   2015-03-10        2015-03-10  22
16   2015-03-10        2015-03-10   2
17   2015-03-10        2015-03-10   5
18   2015-03-10        2015-03-10   3
19   2015-03-10        2015-03-10  12
20   2015-03-11        2015-03-11   5
21   2015-03-11        2015-03-11   2
22   2015-03-11        2015-03-11   3
23   2015-03-13        2015-03-13   4
24   2015-03-13        2015-03-13   4
25   2015-03-13        2015-03-13   1
26   2015-03-13        2015-03-13   2
27   2015-03-13        2015-03-13   1
28   2015-03-16        2015-03-16   5
29   2015-03-16        2015-03-16   5
...         ...               ...  ..
1033 2016-10-24        2016-10-24  10
1034 2016-10-24        2016-10-24  11
1035 2016-10-26        2016-10-26   9
1036 2016-10-27        2016-10-27  20
1037 2016-10-27        2016-10-27  17
1038 2016-10-27        2016-10-27   8
1039 2016-10-27        2016-10-27   3
1040 2016-10-28        2016-10-28   9
1041 2016-10-28        2016-10-28   7
1042 2016-10-28        2016-10-28   6
1043 2016-10-29        2016-10-29  11
1044 2016-10-31        2016-10-31   2
1045 2016-10-31        2016-10-31   4
1046 2016-10-31        2016-10-31   5
1047 2016-10-31        2016-10-31   7
1048 2016-10-31        2016-10-31   7
1049 2016-10-31        2016-10-31   6
1050 2016-10-31        2016-10-31  13
1051 2016-11-01        2016-11-01  21
1052 2016-11-01        2016-11-01   3
1053 2016-11-01        2016-11-01   5
1054 2016-11-03        2016-11-03   7
1055 2016-11-04        2016-11-04   3
1056 2016-11-05        2016-11-05   7
1057 2016-11-07        2016-11-07  10
1058 2016-11-07        2016-11-07   1
1059 2016-11-07        2016-11-07   1
1060 2016-11-09        2016-11-09   1
1061 2016-11-09        2016-11-09   1
1062 2018-02-05        2018-02-05   1

[1063 rows x 3 columns]

In [ ]:
df_modelo_date